@import url("https://fonts.googleapis.com/css?family=Poppins:regular,italic,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 375px;
}

body {
  color: #000;
  font-family: "Poppins";
  font-size: 16px;
  line-height: 120%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  padding: 12px 0;
}
.header__container {
  max-width: 970px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}
@media (max-width: 786.98px) {
  .header__container {
    padding: 0 15px;
  }
}
.header__logo img {
  width: 275px;
}
@media (max-width: 768.98px) {
  .header__logo img {
    width: 180px;
  }
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contact-text {
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}
@media (max-width: 786.98px) {
  .header__contact-text {
    display: none;
  }
}
.header__contact-text span {
  font-weight: 700;
}
.header__contact-tel {
  color: #1cb734;
  font-weight: 700;
  font-size: 20px;
}
@media (max-width: 786.98px) {
  .header__contact-tel {
    font-size: 16px;
  }
}
.header__contact-tel img {
  margin: -5px 3px 0 8px;
  width: 27px;
  height: 27px;
}
@media (max-width: 786.98px) {
  .header__contact-tel img {
    width: 20px;
    height: 20px;
    margin-top: 0;
  }
}

.green-banner {
  background-color: #1cb734;
  padding: 30px 0 110px;
}
@media (max-width: 768.98px) {
  .green-banner {
    padding: 20px 0 95px;
  }
}
.green-banner__container {
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
@media (max-width: 786.98px) {
  .green-banner__container {
    padding: 0 15px;
  }
}
.green-banner__title {
  font-size: 36px;
  line-height: 116%;
  letter-spacing: 0.3px;
  color: #ffffff;
  font-weight: 700;
}
@media (max-width: 768.98px) {
  .green-banner__title {
    font-size: 20px;
    line-height: 22px;
  }
}
.green-banner__subtitle {
  font-size: 30px;
  line-height: 106%;
  letter-spacing: 0.3px;
  color: #ffffff;
  margin-top: 10px;
}
@media (max-width: 768.98px) {
  .green-banner__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 7px;
  }
}

.form-block__container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 786.98px) {
  .form-block__container {
    padding: 0 15px;
  }
}

.form {
  width: 100%;
  max-width: 840px;
  min-height: 450px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 40px 40px;
  margin-top: -75px;
  margin: -75px auto 0;
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768.98px) {
  .form {
    padding: 40px 25px 30px;
    min-height: auto;
  }
}
.form__progress {
  max-width: 450px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  position: relative;
}
.form__progress-border {
  border: 1px solid #0a87c1;
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 768.98px) {
  .form__progress-border {
    width: 40px;
    height: 40px;
  }
}
.form__progress-border img {
  margin-bottom: 5px;
}
@media (max-width: 768.98px) {
  .form__progress-border img {
    margin: 7px auto;
    width: 20px;
  }
}
.form__progress-line {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 3px;
  background-color: #dae3e8;
  z-index: 1;
}
.form__progress-bar {
  height: 100%;
  background-color: #0a87c1;
  width: 0;
}

.content {
  padding: 30px 0;
}
@media (max-width: 768.98px) {
  .content {
    padding: 20px 0;
  }
}
.content__container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 20px;
}
@media (max-width: 786.98px) {
  .content__container {
    padding: 0 15px;
  }
}
.content__steps {
  padding: 30px 0 0;
}
@media (max-width: 768.98px) {
  .content__steps {
    padding: 20px 0 0;
  }
}
.content__steps h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}
@media (max-width: 768.98px) {
  .content__steps h3 {
    font-size: 24px;
  }
}
.content__steps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  margin-top: 32px;
}
@media (max-width: 768.98px) {
  .content__steps-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.content__steps-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.content__steps-list li span {
  background: #1cb734;
  border-radius: 50%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  font-weight: 700;
  height: 45px;
  line-height: 45px;
  width: 45px;
  margin-bottom: 1rem;
}
.content__faq {
  padding: 30px 0 0;
}
@media (max-width: 768.98px) {
  .content__faq {
    padding: 20px 0 0;
  }
}
.content__faq h3 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 150%;
}
.content__faq h4 {
  margin: 32px 0 16px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
}
.content__faq p {
  text-align: justify;
  margin-bottom: 32px;
}

.footer {
  padding: 30px 0;
  text-align: center;
  border-top: 1px solid #f4f4f4;
}
.footer__container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer__container p {
  margin-bottom: 8px;
}
@media (max-width: 786.98px) {
  .footer__container {
    padding: 0 15px;
  }
}
.footer__nav {
  font-size: 16px;
  line-height: 28px;
  color: #838383;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  margin-bottom: 8px;
}
@media (max-width: 786.98px) {
  .footer__nav {
    font-size: 14px;
    line-height: 26px;
  }
}
.footer__nav a {
  padding: 0 5px;
}
.footer__copy {
  font-size: 16px;
  line-height: 28px;
  color: #838383;
  letter-spacing: 0.3px;
  margin-bottom: 8px;
}
@media (max-width: 786.98px) {
  .footer__copy {
    font-size: 14px;
    line-height: 26px;
  }
}

.cta_btn {
  text-align: center;
  background-color: #1cb734;
  border-radius: 3px;
  padding: 15px 0px;
  margin: 16px 0;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none !important;
  display: block;
  width: 100%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.cta_btn:hover {
  background-color: #62cf72;
}

#q2,
#success,
#sorry,
#loading-1,
#loading-2,
#loading-3 {
  display: none;
}

.article__question {
  -webkit-animation: fade-in;
          animation: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  margin-top: 36px;
}
.article__question-title {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 16px 0;
}
@media (max-width: 768.98px) {
  .article__question-title {
    font-size: 18px;
    line-height: 28px;
  }
}
.article__question-loading {
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  padding: 40px 0px;
  text-align: center;
}
@media (max-width: 768.98px) {
  .article__question-loading {
    padding: 24px 0px;
  }
}
.article__question-loading-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}
@media (max-width: 768.98px) {
  .article__question-loading-title {
    font-size: 24px;
    line-height: 32px;
  }
}
.article__question-success {
  text-align: center;
  -webkit-animation: fade-in;
          animation: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.article__question-success-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 20px;
}
@media (max-width: 768.98px) {
  .article__question-success-title {
    font-size: 24px;
    line-height: 32px;
  }
}
.article__question-success-subtitle {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
}
@media (max-width: 768.98px) {
  .article__question-success-subtitle {
    font-size: 20px;
    line-height: 28px;
  }
}
.article__question-success-text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 24px;
}
.article__question-success-text span {
  font-weight: 700;
}
@media (max-width: 768.98px) {
  .article__question-success-text {
    font-size: 20px;
    line-height: 28px;
  }
}
.article__question-success-desc {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}
.article__question-success-bottom {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

.red-text {
  color: #ef4444;
}

@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}