@import url("https://fonts.googleapis.com/css?family=Poppins:regular,italic,700&display=swap");

$minWidth: 375;
$mainColor: #000;
$green: #1cb734;
$gray: #838383;
$fontSize: 16px;
$fontFamily: "Poppins";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  // outline: none;
}
a:focus,
a:active {
  // outline: none;
}
html,
body {
  height: 100%;
  min-width: $minWidth + px;
}
body {
  color: $mainColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 120%;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-family: $fontFamily;
  font-size: inherit;
  line-height: inherit;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
a {
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  padding: 12px 0;
  // .header__container
  &__container {
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    @media (max-width: 786.98px) {
      padding: 0 15px;
    }
  }
  // .header__logo
  &__logo {
    img {
      width: 275px;
      @media (max-width: 768.98px) {
        width: 180px;
      }
    }
  }
  // .header__contact
  &__contact {
    display: flex;
    align-items: center;
  }
  // .header__contact-text
  &__contact-text {
    font-size: 15px;
    line-height: 160%;
    color: #4c4c4c;
    @media (max-width: 786.98px) {
      display: none;
    }
    span {
      font-weight: 700;
    }
  }
  // .header__contact-tel
  &__contact-tel {
    color: $green;
    font-weight: 700;
    font-size: 20px;
    @media (max-width: 786.98px) {
      font-size: 16px;
    }
    img {
      margin: -5px 3px 0 8px;
      width: 27px;
      height: 27px;
      @media (max-width: 786.98px) {
        width: 20px;
        height: 20px;
        margin-top: 0;
      }
    }
  }
}
//========================================================================================================================================================

.green-banner {
  background-color: $green;
  padding: 30px 0 110px;
  @media (max-width: 768.98px) {
    padding: 20px 0 95px;
  }
  // .green-banner__container
  &__container {
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    @media (max-width: 786.98px) {
      padding: 0 15px;
    }
  }
  // .green-banner__title
  &__title {
    font-size: 36px;
    line-height: 116%;
    letter-spacing: 0.3px;
    color: #ffffff;
    font-weight: 700;
    @media (max-width: 768.98px) {
      font-size: 20px;
      line-height: 22px;
    }
  }
  // .green-banner__subtitle
  &__subtitle {
    font-size: 30px;
    line-height: 106%;
    letter-spacing: 0.3px;
    color: #ffffff;
    margin-top: 10px;
    @media (max-width: 768.98px) {
      font-size: 18px;
      line-height: 22px;
      margin-top: 7px;
    }
  }
}
//========================================================================================================================================================

.form-block {
  // .form-block__container
  &__container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 786.98px) {
      padding: 0 15px;
    }
  }
}
.form {
  width: 100%;
  max-width: 840px;
  min-height: 450px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 40px 40px;
  margin-top: -75px;
  margin: -75px auto 0;
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.1);
  @media (max-width: 768.98px) {
    padding: 40px 25px 30px;
    min-height: auto;
  }
  // .form__progress
  &__progress {
    max-width: 450px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
    &-border {
      border: 1px solid #0a87c1;
      width: 45px;
      height: 45px;
      background: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
      @media (max-width: 768.98px) {
        width: 40px;
        height: 40px;
      }
      img {
        margin-bottom: 5px;
        @media (max-width: 768.98px) {
          margin: 7px auto;
          width: 20px;
        }
      }
    }
    &-line {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 3px;
      background-color: #dae3e8;
      z-index: 1;
    }
  }

  // .form__progress-bar
  &__progress-bar {
    height: 100%;
    background-color: #0a87c1;
    width: 0;
  }
}

//========================================================================================================================================================

.content {
  padding: 30px 0;
  @media (max-width: 768.98px) {
    padding: 20px 0;
  }
  // .content__container
  &__container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;
    @media (max-width: 786.98px) {
      padding: 0 15px;
    }
  }
  // .content__steps
  &__steps {
    padding: 30px 0 0;
    @media (max-width: 768.98px) {
      padding: 20px 0 0;
    }
    h3 {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      line-height: 150%;
      @media (max-width: 768.98px) {
        font-size: 24px;
      }
    }
  }
  // .content__steps-list
  &__steps-list {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 32px;
    @media (max-width: 768.98px) {
      flex-direction: column;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      span {
        background: #1cb734;
        border-radius: 50%;
        color: #fff;
        display: flex;
        justify-content: center;

        font-size: 18px;
        font-weight: 700;
        height: 45px;
        line-height: 45px;
        width: 45px;
        margin-bottom: 1rem;
      }
    }
  }
  // .content__faq
  &__faq {
    padding: 30px 0 0;
    @media (max-width: 768.98px) {
      padding: 20px 0 0;
    }
    h3 {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      line-height: 150%;
    }
    h4 {
      margin: 32px 0 16px;
      font-size: 20px;
      text-align: center;
      font-weight: 700;
    }
    p {
      text-align: justify;
      margin-bottom: 32px;
    }
  }
}
//========================================================================================================================================================

.footer {
  padding: 30px 0;
  text-align: center;
  border-top: 1px solid #f4f4f4;
  // .footer__container
  &__container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 20px;
    p {
      margin-bottom: 8px;
    }
    @media (max-width: 786.98px) {
      padding: 0 15px;
    }
  }
  // .footer__nav
  &__nav {
    font-size: 16px;
    line-height: 28px;
    color: #838383;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 8px;
    @media (max-width: 786.98px) {
      font-size: 14px;
      line-height: 26px;
    }
    a {
      padding: 0 5px;
    }
  }
  // .footer__copy
  &__copy {
    font-size: 16px;
    line-height: 28px;
    color: #838383;
    letter-spacing: 0.3px;
    margin-bottom: 8px;
    @media (max-width: 786.98px) {
      font-size: 14px;
      line-height: 26px;
    }
  }
}

.cta_btn {
  text-align: center;
  background-color: $green;
  border-radius: 3px;
  padding: 15px 0px;
  margin: 16px 0;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none !important;
  display: block;
  width: 100%;
  transition: background-color 0.3s;
}
.cta_btn:hover {
  background-color: #62cf72;
}
#q2,
#success,
#sorry,
#loading-1,
#loading-2,
#loading-3 {
  display: none;
}

.article {
  &__question {
    animation: fade-in;
    animation-duration: 1s;
    margin-top: 36px;
  }
  &__question-title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: 16px 0;
    @media (max-width: 768.98px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
  &__question-loading {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    padding: 40px 0px;
    text-align: center;
    @media (max-width: 768.98px) {
      padding: 24px 0px;
    }
  }
  &__question-loading-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
    @media (max-width: 768.98px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__question-success {
    text-align: center;
    animation: fade-in;
    animation-duration: 1s;
  }
  &__question-success-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
    @media (max-width: 768.98px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__question-success-subtitle {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
    @media (max-width: 768.98px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__question-success-text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    span {
      font-weight: 700;
    }
    @media (max-width: 768.98px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__question-success-desc {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
  &__question-success-bottom {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }
}
.red-text {
  color: #ef4444;
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
