@import url("https://fonts.googleapis.com/css?family=Poppins:regular,italic,700&display=swap");

$minWidth: 375;
$mainColor: #000;
$green: #05b67c;
$fontSize: 16px;
$fontFamily: "Poppins";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
:focus,
:active {
  // outline: none;
}
a:focus,
a:active {
  // outline: none;
}
html,
body {
  height: 100%;
  min-width: $minWidth + px;
}
body {
  color: $mainColor;
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: 120%;
  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-family: $fontFamily;
  font-size: inherit;
  line-height: inherit;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
a {
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.cta_btn {
  text-align: center;
  background-color: $green;
  border-radius: 3px;
  padding: 15px 0px;
  margin: 16px 0;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none !important;
  display: block;
  width: 100%;
  transition: background-color 0.3s;
}
.cta_btn:hover {
  background-color: #44a384;
}
#q2,
#success,
#sorry,
#loading-1,
#loading-2,
#loading-3 {
  display: none;
}

.article {
  &__line {
    background-color: #017676;
    width: 100%;
    height: 23px;
    margin-bottom: 32px;
  }
  &__container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 16px 64px 16px;
  }
  &__title {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    margin-bottom: 16px;
    @media (max-width: 768.98px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__img {
    max-width: 768px;
    display: block;
    margin: 0 auto 44px auto;
    width: 100%;
    object-fit: cover;
    @media (max-width: 768.98px) {
      margin-bottom: 28px;
    }
  }
  &__text {
    max-width: 672px;
    margin: 0 auto;
    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 20px;
      &:not(:last-of-type) {
        margin-bottom: 12px;
      }
    }
  }
  &__red-text {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #dc2626;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
  }
  &__quiz {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
  &__question {
    animation: fade-in;
    animation-duration: 1s;
  }
  &__question-title {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    margin: 16px 0;
    @media (max-width: 768.98px) {
      font-size: 18px;
      line-height: 28px;
    }
  }
  &__question-loading {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    border-top: 8px solid #172554;
    padding: 40px 32px;
    text-align: center;
    @media (max-width: 768.98px) {
      padding: 24px 20px;
    }
  }
  &__question-loading-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
    @media (max-width: 768.98px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__question-success {
    border-top: 8px solid #172554;
    padding: 40px 32px;
    text-align: center;
    animation: fade-in;
    animation-duration: 1s;
    @media (max-width: 768.98px) {
      padding: 24px 20px;
    }
  }
  &__question-success-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 20px;
    @media (max-width: 768.98px) {
      font-size: 24px;
      line-height: 32px;
    }
  }
  &__question-success-subtitle {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
    @media (max-width: 768.98px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__question-success-text {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
    span {
      font-weight: 700;
    }
    @media (max-width: 768.98px) {
      font-size: 20px;
      line-height: 28px;
    }
  }
  &__question-success-desc {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
  }
  &__question-success-bottom {
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
  }
}
.red-text {
  color: #ef4444;
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.footer {
  width: 100%;
  background-color: #1f2937;
  color: #fff;
  padding: 24px 0;
  &__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 16px;
  }
  &__nav {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 24px;
    li {
      &:not(:last-child) {
        padding-right: 12px;
        margin-right: 12px;
        border-right: 1px solid #fff;
      }
    }
    @media (max-width: 768.98px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__copy {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 24px;
    @media (max-width: 768.98px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    margin-bottom: 24px;
  }
}
